.header-top-row {
    height: 30px;
}

.header-bottom-row {
    height: 35px;
}

.header-logo {
    position: absolute;
    top: 10px;
    left: 20px;
}

.header-user {
    margin-top: 5px;
}

.header-user .mdl-button {
    margin-right: 10px;
}

.header-user-menu i {
    margin-right: 10px;
}