<h4>SweetAlert</h4>
<div class="btn-group">
    <button mdl-button-type="raised" mdl-ripple class="btn-submit" mdl-button (click)="alertSuccess()">弹出成功提示</button>
    <button mdl-button-type="raised" mdl-ripple class="btn-info" mdl-button (click)="alertNotice()">弹出信息提示</button>
    <button mdl-button-type="raised" mdl-ripple class="btn-del" mdl-button (click)="alertWarning()">弹出警告提示</button>
    <button mdl-button-type="raised" mdl-ripple class="btn-edit" mdl-button (click)="alertConfirm()">弹出确认提示</button>
</div>
<h4>Toastr</h4>
<div class="btn-group">
    <button mdl-button-type="raised" mdl-ripple class="btn-submit" mdl-button (click)="toastrSuccess()">弹出成功提示</button>
    <button mdl-button-type="raised" mdl-ripple class="btn-info" mdl-button (click)="toastrNotice()">弹出信息提示</button>
    <button mdl-button-type="raised" mdl-ripple class="btn-edit" mdl-button (click)="toastrWarning()">弹出警告提示</button>
    <button mdl-button-type="raised" mdl-ripple class="btn-del" mdl-button (click)="toastrConfirm()">弹出错误提示</button>
</div>