<div class="portlet display-list-container">
    <div class="portlet-header display-list-header">
        <div class="table-toolbar">
            <div class="toolbar-btns">
                <button mdl-button mdl-button-type="raised" mdl-ripple class="btn-add" (click)="addPerson();"><i class="fa fa-plus"></i></button>
                <button mdl-button mdl-button-type="raised" mdl-ripple class="btn-info"><i class="fa fa-info"></i></button>
                <button mdl-button mdl-button-type="raised" mdl-ripple class="btn-edit"><i class="fa fa-edit"></i></button>
                <button mdl-button mdl-button-type="raised" mdl-ripple class="btn-del"><i class="fa fa-minus"></i></button>
            </div>

            <div class="toolbar-search">
                <mdl-textfield type="text" label="姓名" [(ngModel)]="text1" autocomplete="name" (blur)="onInputBlur($event)" (focus)="onInputFocus($event)" (keyup)="onInputKeyup($event)" floating-label></mdl-textfield>
                <mdl-textfield type="text" label="姓名" [(ngModel)]="text2" autocomplete="name" (blur)="onInputBlur($event)" (focus)="onInputFocus($event)" (keyup)="onInputKeyup($event)" floating-label></mdl-textfield>
                <mdl-textfield type="text" label="姓名" [(ngModel)]="text3" autocomplete="name" (blur)="onInputBlur($event)" (focus)="onInputFocus($event)" (keyup)="onInputKeyup($event)" floating-label></mdl-textfield>
                <button mdl-button mdl-button-type="fab" (click)="search()" class="btn-search">
                    <i class="fa fa-search"></i>
                </button>
                <button mdl-button mdl-button-type="fab" (click)="reset()" class="btn-reset">
                   <i class="fa fa-refresh"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="portlet-body display-list-body">
        <div class="table-container">
            <mdl-table-selectable mdl-shadow="2" id='person_manage_table' [table-model]="tableModel" [table-model-selected]="selected" (table-model-selectionChanged)="selectionChanged($event)">
            </mdl-table-selectable>
            <div class="table-footer">
                <span>共</span><span class="total-size">8</span><span>条</span>
                <span class="now-page">1</span>/<span class="total-page">1</span>页
                <span>第</span>
                <button mdl-button mdl-button-type="raised" mdl-ripple class="btn-prev"><i class="fa fa-chevron-left"></i></button>
                <input class="table-target-page">
                <button mdl-button mdl-button-type="raised" mdl-ripple class="btn-next"><i class="fa fa-chevron-right"></i></button>
                <span>页</span>
            </div>
        </div>

    </div>
</div>