<div class="display-form">
    <div class="display-form-header">
        <div class="from-title">
            <i class="fa fa-plus-square"></i> 新增人员
        </div>
    </div>
    <form [formGroup]="form" class="display-form-body">
        <div class="form-inline-item">
            <mdl-textfield label="姓名*" type="text" formControlName="name" floating-label error-msg="请输入姓名"></mdl-textfield>
        </div>
        <div class="form-inline-item">
            <mdl-textfield label="队伍*" type="text" formControlName="team" floating-label error-msg="请输入队伍"></mdl-textfield>
        </div>
        <div class="form-inline-item">
            <mdl-textfield label="账号*" type="text" formControlName="account" floating-label error-msg="请输入账号"></mdl-textfield>
        </div>
        <div class="form-inline-item">
            <mdl-textfield label="职业*" type="text" formControlName="role" floating-label error-msg="请输入职业"></mdl-textfield>
        </div>
        <div class="form-inline-item">
            <md-input-container>
                <input mdInput placeholder="请输入职务" [mdAutocomplete]="positionAuto" [formControl]="positionCtrl">
            </md-input-container>

            <md-autocomplete #positionAuto="mdAutocomplete">
                <md-option *ngFor="let position of filteredPositions | async" [value]="position">
                    {{ position }}
                </md-option>
            </md-autocomplete>
        </div>

        <div class="form-inline-item">
            <md-select placeholder="请选择性别" formControlName="sex" name="sex">
                <md-option *ngFor="let gender of genders" [value]="gender.value">
                    {{gender.viewValue}}
                </md-option>
            </md-select>
        </div>

        <div class="form-inline-item">
            <md-input-container>
                <input mdInput placeholder="自动匹配" [mdAutocomplete]="auto" [formControl]="stateCtrl">
            </md-input-container>

            <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let state of filteredStates | async" [value]="state">
                    {{ state }}
                </md-option>
            </md-autocomplete>
        </div>

        <div class="form-inline-item">
            <md-input-container>
                <input mdInput [mdDatepicker]="picker" placeholder="请选择注册日期" [formControl]="registerDateCtrl">
                <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker></md-datepicker>
        </div>

        <div class="form-inline-item">
            <mdl-textfield label="凑数目的" type="text" floating-label></mdl-textfield>
        </div>
        <div class="form-inline-item">
            <mdl-textfield label="凑数目的" type="text" floating-label></mdl-textfield>
        </div>

    </form>
    <div class="diaplay-from-footer">
        <button mdl-button (click)="cancel()" mdl-button-type="raised" mdl-ripple class="btn-cancel">取消</button>
        <button mdl-button (click)="onSubmit()" [disabled]="!form.valid" mdl-button-type="raised" mdl-ripple class="btn-submit">确认</button>
    </div>
</div>