md2-tabs {
    position: absolute;
    left: 240px;
    top: 30px;
    /*overflow: hidden;*/
    display: block;
    margin-right: 45px;
    border-radius: 2px;
}

.md2-tabs-header-wrapper {
    position: relative;
    display: block;
    height: 35px;
    border-radius: 5px 5px 0 0;
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.md2-tabs-header-wrapper:after {
    content: '';
    display: table;
    clear: both;
}

.md2-prev-button,
.md2-next-button {
    position: absolute;
    top: 0;
    height: 100%;
    width: 30px;
    padding: 10px 0;
    z-index: 2;
    cursor: pointer;
}

.md2-prev-button {
    left: 0;
}

.md2-next-button {
    right: 0;
}

.md2-prev-button.disabled,
.md2-next-button.disabled {
    opacity: .4;
    cursor: default;
}

.md2-prev-button .prev-icon,
.md2-next-button .next-icon {
    display: block;
    width: 12px;
    height: 12px;
    font-size: 0;
    border-width: 0 0 4px 4px;
    border-style: solid;
    border-radius: 1px;
    transform: rotate(45deg);
    margin: 6px;
}

.md2-next-button .next-icon {
    border-width: 2px 2px 0 0;
}

.md2-tabs-canvas {
    position: relative;
    height: 100%;
    overflow: hidden;
    display: block;
    outline: none;
}

.md2-tabs-canvas.md2-paginated {
    margin: 0 32px;
}

.md2-tabs-header {
    position: relative;
    display: inline-block;
    height: 100%;
    white-space: nowrap;
    -moz-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    -o-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}

.md2-tab-label {
    position: relative;
    height: 100%;
    color: #fff!important;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px 5px 0 0;
    padding: 4px 20px;
    -moz-transition: background-color .35s cubic-bezier(.35, 0, .25, 1);
    -o-transition: background-color .35s cubic-bezier(.35, 0, .25, 1);
    -webkit-transition: background-color .35s cubic-bezier(.35, 0, .25, 1);
    transition: background-color .35s cubic-bezier(.35, 0, .25, 1);
    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 500;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.md2-tab-label.active {
    background-color: #fff;
}

.md2-tab-label .material-icons {
    font-size: 18px;
    vertical-align: 2px;
}

.md2-tab-label.active .material-icons {
    color: #666;
}

.md2-tab-label.active a {
    color: #000;
}

.md2-tab-label a {
    color: #fff;
    font-size: 16px;
    vertical-align: super;
}

.md2-tabs-canvas:focus .md2-tab-label.focus {
    background: rgba(0, 0, 0, 0.05);
}

.md2-tab-label.disabled {
    color: rgba(0, 0, 0, 0.26);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    opacity: 0.5;
    cursor: default;
}

.md2-tab-ink-bar {
    position: absolute;
    bottom: 0;
    height: 2px;
    background: rgb(255, 82, 82);
    transition: .25s cubic-bezier(.35, 0, .25, 1);
}

.md2-tabs-body-wrapper {
    position: relative;
    min-height: 0;
    display: block;
    clear: both;
}

md2-tab {
    padding: 16px;
    display: none;
    position: relative;
}

md2-tab.active {
    display: block;
    position: relative;
}

.white {
    color: #fff;
}

#tab_manage_btn {
    vertical-align: top;
    min-width: 40px;
    margin-left: -4px;
}

#tab_manage_btn .fa-lg {
    vertical-align: initial;
}

.md2-tabs-header .mdl-button {
    padding: 0 10px;
}