<div class="portlet display-list-container">
    <div class="portlet-header display-list-header">
        <div class="table-toolbar">
            <div class="toolbar-btns">
                <button mdl-button mdl-button-type="raised" mdl-ripple class="btn-add"><i class="fa fa-plus"></i></button>
                <button mdl-button mdl-button-type="raised" mdl-ripple class="btn-info"><i class="fa fa-info"></i></button>
                <button mdl-button mdl-button-type="raised" mdl-ripple class="btn-edit"><i class="fa fa-edit"></i></button>
                <button mdl-button mdl-button-type="raised" mdl-ripple class="btn-del"><i class="fa fa-minus"></i></button>
            </div>

            <div class="toolbar-search">
                <mdl-textfield type="text" label="姓名" [(ngModel)]="text1" autocomplete="name" (blur)="onInputBlur($event)" (focus)="onInputFocus($event)"
                    (keyup)="onInputKeyup($event)" floating-label></mdl-textfield>
                <mdl-textfield type="text" label="姓名" [(ngModel)]="text2" autocomplete="name" (blur)="onInputBlur($event)" (focus)="onInputFocus($event)"
                    (keyup)="onInputKeyup($event)" floating-label></mdl-textfield>
                <mdl-textfield type="text" label="姓名" [(ngModel)]="text3" autocomplete="name" (blur)="onInputBlur($event)" (focus)="onInputFocus($event)"
                    (keyup)="onInputKeyup($event)" floating-label></mdl-textfield>
                <button mdl-button mdl-button-type="fab" class="btn-search">
                    <i class="fa fa-search"></i>
                </button>
                <button mdl-button mdl-button-type="fab" class="btn-reset">
                   <i class="fa fa-refresh"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="portlet-body display-list-body">
        <!--<mdl-table-selectable mdl-shadow="2" [table-model]="tableModel" [table-model-selected]="selected" (table-model-selectionChanged)="selectionChanged($event)">
        </mdl-table-selectable>-->
        <table id="demo_table"></table>
    </div>
</div>